/*
Extras a utilizar:
(FONTS)
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
(COLORES)
#2c3e50 (azulado cabecera)
#18bc9c (celeste algunas secciones)
#212529 (azulado)*/
body{
  margin: 0;
  padding: 0;
}
nav{ /*BARRA SUPERIOR DE PAGINA WEB*/
  display: block;
  position: relative;
  background-color: #2c3e50;
  color: white;
  padding: 10px 865px 1px 80px; /* ORDEN DE PADDING: TOP-RIGHT-BOTTOM-LEFT*/
}
h1, h2, h3, ul li{ /*FONT FAMILY QUE VAN A LLEVAR LOS SIGUIENTES ELEMENTOS*/
  font-family: 'Montserrat', sans-serif;
}
p, input, button{
  font-family: 'Lato', sans-serif;
}
.start_list{ /*TIENE EL "TITULO" DE PAGINA: START BOOTSTRAP*/
  font-size: 28px;
  left: 25px;
}
.start_list li{ /*TIENE LOS LINKS DE PORTFOLIO, ABOUT Y CONTACT*/
  position: relative;
  list-style: none;
  color: white;
  font-size: 17px;
  float: left;
  padding-right: 40px;
  left: 800px;
  bottom: 60px;
}
.start_list li a{
  text-decoration: none;
  color: white;
}
.start_bootstrap{ /*PRIMERA SECCION (INCLUYE LA FOTO DE PERFIL)*/
  background-color: #18bc9c;
  padding-top: 100px;
  padding-bottom: 80px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
h1{ /*TEXTO PRIMERA SECCION: "START BOOTSTRAP"*/
  font-size: 76px;
  line-height: 0px;
}
.start_bootstrap p{ /*TEXTO PARRAFO: Web Developer - Graphic Artist - User Exp Designer*/
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.line_icon_star_white{
  color: white;
  text-align: center;
}
.line_icon_star_white::after, .line_icon_star_white::before{
  content: " ";
  display: inline-block;
  width: 100px;
  height: 5px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.portfolio_draws h2, .about h2, .contact h2{ /*SUBTITULOS DE PAGINA: Portfolio, About, Contact Me*/
  font-size: 44px;
  line-height: 5px;
  text-align: center;
  margin-top: 50px;
}
.line_icon_star_blue{
  color: #2c3e50;
  text-align: center;
}
.line_icon_star_blue::after, .line_icon_star_blue::before{
  content: " ";
  display: inline-block;
  width: 100px;
  height: 5px;
  background-color: #2c3e50;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.draws{ /*SEGUNDA SECCION: "PORTFOLIO"*/
  display: inline-block;
  margin-bottom: 110px;
  margin: 50px;
  padding-left: 60px;
}
.cabin, .cake, .circus, .game, .safe, .submarine{ /*TODAS LAS IMAGENES 2DA SECCION*/
  display: inline-block;
  width: 350px;
  height: auto;
  margin: 5px;
  padding: 8px;
}
.about{ /*TERCERA SECCION: "ABOUT"*/
  background-color: #18bc9c;
  display: inline-block;
  padding: 50px 0;
  color: white;
  text-align: center;
}
.column_a, .column_b{
  list-style: none;
  line-height: 30px;
  font-size: 20px;
  text-align: left;
}
.column_a{
  position: absolute;
  padding-left: 300px;
  padding-right: 700px;
}
.column_b{
  position: relative;
  padding-left: 750px;
  padding-right: 300px;
}
.contact{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 50px;
}
button{ /*CARACTERISTICAS EN COMUN DE BOTONES*/
  position: relative;
  display: inline-block;
  border: 2px solid white;
  border-radius: 6px;
  background-color: #18bc9c;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
}
.download_theme{ /*BOTON DESCARGA*/
  color: white;
  text-decoration: none;
}
.download_theme a{
  color: white;
  text-decoration: none;
}
.download_theme a:hover{
  background-color: white;
  color: #18bc9c;
  text-decoration: none;
}
input{ /*FORMULARIO DE LLENADO CUARTA SECCION: "CONTACT ME"*/
  display: inline-block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-left: 300px;
  margin-bottom: 30px;
  width: 700px;
  height: 40px;
  font-size: 24px;
  color: gray;
  text-align: left;
  padding-left: 5px;
}
.send_button{ /*BOTON ENVIAR*/
  margin-left: 300px;
}
footer{ /*PIE DE PAGINA WEB*/
  background-color: #2c3e50;
  width: 100%;
  float: left;
  clear: both;
}
footer ul{
  list-style: none;
}
footer section{
  width: 390px;
  float: left;
  padding: 20px;
  color: white;
  text-align: center;
}
.subt_h3{
  font-size: 26px;
  padding-bottom: 15px;
}
.column_1, .column_3 p{
  font-size: 20px;
  line-height: 30px;
}
.round_buttons{ /*GRUPO DE "BOTONES" REDONDOS (Estos son solo decorativos) REDES SOCIALES*/
  position: relative;
  padding-top: 40px;
}
.button_facebook{
  border: 2px solid white;
  border-radius: 50%;
  margin: 2px;
  padding: 10px 16px;
}
.button_google{
  border: 2px solid white;
  border-radius: 50%;
  margin: 2px;
  padding: 10px;
}
.button_twitter, .button_linkedin, .button_ball{
  border: 2px solid white;
  border-radius: 50%;
  margin: 2px;
  padding: 10px 13px;
}
.round_buttons a{
  color: white;
}
.round_buttons a:hover{
  background-color: white;
  color: #18bc9c;
  border-radius: 50%;
  padding: 11px 0;
}
.bootstrap_link{ /*LINK PIE DE PAGINA "START BOOTSTRAP"*/
  color: #18bc9c;
  text-decoration: none;
}
.copyright{ /*TEXTO COPYRIGHT*/
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}
